@page "/Admin/Role"
@using AutoMapper;
@using MediatR;
@using Mgr.Core.Entities;
@using Mgr.Core.EnumType;
@using Mgr.Core.Models;
@using UnitMgr.Admin.Components.Dialogs;
@using UnitMgr.Application.Services;
@inject IJSRuntime JS
@attribute [Authorize(Policy = Permissions.Roles.View)]
<PageTitle>@Title</PageTitle>
<style>
    .mud-table-toolbar {
        height: 84px !important;
    }
</style>
<ErrorBoundary>
    <ChildContent>
        <MudTable ServerData="@(new Func<TableState, Task<TableData<ApplicationRole>>>(ServerReload))"
                  FixedHeader="true"
                  FixedFooter="true"
                  Height="calc(100vh - 265px)"
                  Loading="@_loading"
                  @bind-RowsPerPage="_defaultPageSize"
                  SortLabel="@ConstantString.ORDERBY"
                  MultiSelection="true"
                  @bind-SelectedItems="_selectedItems"
                  Hover="true" 
                  @ref="_table">
            <ToolBarContent>
                <div class="justify-start pt-3">
                    <MudText Typo="Typo.h6">ApplicationRoles</MudText>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown">
                        <MudButton DisableElevation Variant="Variant.Outlined"
                                   Size="Size.Small"
                                   Disabled="@_loading"
                                   OnClick="@(()=>OnRefresh())"
                                   StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Primary"
                                   Style="margin-right: 4px; margin-bottom:4px">@ConstantString.REFRESH</MudButton>
                        @if (_canCreate)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   Disabled="@_loading"
                                   Size="Size.Small"
                                   OnClick="OnCreate"
                                   Style="margin-right: 4px; margin-bottom:4px"
                                   IconColor="Color.Surface">@ConstantString.CREATE</MudButton>
                        }
                        @if (_canDelete)
                        {
                            <MudButton DisableElevation Variant="Variant.Outlined" Color="Color.Error"
                                   StartIcon="@Icons.Material.Filled.Delete"
                                   Disabled="@(!(_selectedItems.Count>0))"
                                   Size="Size.Small"
                                   Style="margin-right: 4px; margin-bottom:4px"
                                   OnClick="OnDeleteChecked"
                                   IconColor="Color.Surface">@ConstantString.DELETE</MudButton>
                        }

                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                        <MudMenu AnchorOrigin="Origin.BottomLeft" StartIcon="@Icons.Material.Filled.KeyboardCommandKey" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" 
                        Label="" Color="Color.Primary" Variant="Variant.Filled">
                            <MudMenuItem Disabled="@_loading" OnClick="@(()=>OnRefresh())">@ConstantString.REFRESH</MudMenuItem>
                            @if (_canCreate)
                            {
                                <MudMenuItem Disabled="@_loading" OnClick="OnCreate">@ConstantString.CREATE</MudMenuItem>
                            }
                            @if (_canDelete)
                            {
                                <MudMenuItem OnClick="OnDeleteChecked">@ConstantString.DELETE</MudMenuItem>
                            }

                        </MudMenu>
                    </MudHidden>
                </div>
                <MudSpacer />
                <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Value="@_searchString" Placeholder="@ConstantString.SEARCH" Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <ColGroup>
                <MudHidden Breakpoint="Breakpoint.SmAndDown">
                    <col style="width:60px;" />
                </MudHidden>
            </ColGroup>
            <HeaderContent>
                <MudTh Style="width:150px">@ConstantString.ACTIONS</MudTh>
                <MudTh Style="width:350px"><MudTableSortLabel SortLabel="Id" T="ApplicationRole">Tên</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Name" T="ApplicationRole">Ghi chú</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="@ConstantString.ACTIONS">
                    @if (_canEdit || _canDelete)
                    {
                        <MudMenu Label="@ConstantString.ACTIONS" Variant="Variant.Filled" DisableElevation="true" Size="Size.Small"
                             FullWidth = "true"
                             Dense="true"
                             EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Info" Direction="Direction.Left"
                             OffsetX="true">
                            @if (_canEdit)
                            {
                                <MudMenuItem OnClick="@(()=>OnEdit(context))">@ConstantString.EDIT</MudMenuItem>
                            }
                            @if (_canDelete)
                            {
                                <MudMenuItem OnClick="@(()=>OnDelete(context))">@ConstantString.DELETE</MudMenuItem>
                            }
                        </MudMenu>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" DisableElevation="true"
                               StartIcon="@Icons.Material.Filled.DoNotTouch" IconColor="Color.Secondary" Size="Size.Small"
                               Color="Color.Surface">
                            @ConstantString.NOALLOWED
                        </MudButton>
                    }
                </MudTd>
                <MudTd DataLabel="Tên">
                    <MudText>@context.Name</MudText>
                </MudTd>
                <MudTd DataLabel="Ghi chú">
                    <MudText>@context.Description</MudText>
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>@ConstantString.NOMACHING</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>@ConstantString.LOADING</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager PageSizeOptions="@AppSettingConstants.PageSizeOptions" 
                               RowsPerPageString="Số dòng/Trang" 
                               InfoFormat="@($"{infoFormat}")" />
            </PagerContent>
        </MudTable>
    </ChildContent>
    <ErrorContent>
        <CustomError Exception="context"></CustomError>
    </ErrorContent>
</ErrorBoundary>
@code {
    private string infoFormat = "{first_item}-{last_item}/{all_items}";
    public string? Title { get; private set; }
    private int _defaultPageSize =  AppSettingConstants.DefaultPageSize;
    private HashSet<ApplicationRole> _selectedItems = new HashSet<ApplicationRole>();
    private MudTable<ApplicationRole> _table = default!;
    private string _searchString = string.Empty;
    private bool _loading;
    [Inject]
    private IApplicationRoleService _ApplicationRoleService { get; set; } = default!;
    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; } = default!;

    private PaginationRequest _request { get; set; } = new();

    private bool _canSearch;
    private bool _canCreate;
    private bool _canEdit;
    private bool _canDelete;

    protected override async Task OnInitializedAsync()
    {
        Title = "Multi-ApplicationRole";
        var state = await _authState;
        _canCreate = (await AuthService.AuthorizeAsync(state.User, Permissions.Roles.Create)).Succeeded;
        _canSearch = (await AuthService.AuthorizeAsync(state.User, Permissions.Roles.Search)).Succeeded;
        _canEdit = (await AuthService.AuthorizeAsync(state.User, Permissions.Roles.Edit)).Succeeded;
        _canDelete = (await AuthService.AuthorizeAsync(state.User, Permissions.Roles.Delete)).Succeeded;
    }
    private async Task<TableData<ApplicationRole>> ServerReload(TableState state)
    {
        try
        {
            _loading = true;
            _request = new PaginationRequest();
            if (!string.IsNullOrEmpty(_searchString))
                _request.AddFilter(nameof(ApplicationRole.Name), _searchString, OperationExpression.contains);
            var sortOrderType = SortOrders.desc;
            if (state.SortDirection == SortDirection.Ascending)
                sortOrderType = SortOrders.asc;
            _request.AddSort(string.IsNullOrEmpty(state.SortLabel) ? "Id" : state.SortLabel, sortOrderType);
            _request.PageIndex = state.Page + 1;
            _request.PageSize = state.PageSize;
            var result = await _ApplicationRoleService.GetData(_request);
            return new TableData<ApplicationRole>() { TotalItems = result.TotalRecord, Items = result.Data};
        }
        finally
        {
            _loading = false;
        }
    }

    private async Task OnSearch(string text)
    {
        _selectedItems = new();
        _searchString = text;
        await _table.ReloadServerData();
    }
    private async Task OnRefresh()
    {
        _selectedItems = new();
        _searchString = string.Empty;
        await _table.ReloadServerData();
    }
    private async Task OnCreate()
    {
        var model = new ApplicationRole();
        var parameters = new DialogParameters
            {
        { nameof(RoleForm.model),model },
            };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<RoleForm>
                     ("Tạo mới", 
                     parameters, 
                     options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            var result = await _ApplicationRoleService.InsertAsync((ApplicationRole)state.Data);
            await _table.ReloadServerData();
            Snackbar.Add($"{ConstantString.CREATESUCCESS}", MudBlazor.Severity.Info);
        }
    }
    private async Task OnEdit(ApplicationRole model)
    {
        var parameters = new DialogParameters
                {
            { nameof(RoleForm.model),model },
                };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<RoleForm>
                    ("Cập nhật", 
                    parameters, 
                    options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            var result = await _ApplicationRoleService.UpdateAsync((ApplicationRole)state.Data);
            await _table.ReloadServerData();
            Snackbar.Add($"{ConstantString.UPDATESUCCESS}", MudBlazor.Severity.Info);
        }
    }

    private async Task OnDelete(ApplicationRole model)
    {
        var deleteContent = ConstantString.DELETECONFIRMATIONWITHNAME;
        var parameters = new DialogParameters
                    {
                { nameof(DeleteConfirmation.ContentText), string.Format(deleteContent, model.Name) }
                    };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true, DisableBackdropClick = true };
        var dialog = DialogService.Show<DeleteConfirmation>
        (string.Format(ConstantString.EDITTHEITEM, "ApplicationRole"), parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            var result = await _ApplicationRoleService.DeleteAsync(model.Id);
            await _table.ReloadServerData();
            Snackbar.Add($"{ConstantString.DELETESUCCESS}", MudBlazor.Severity.Info);
        }
    }

    private async Task OnDeleteChecked()
    {
        var deleteContent = ConstantString.DELETECONFIRMATION;
        var parameters = new DialogParameters
                        {
                    { nameof(DeleteConfirmation.ContentText), string.Format(deleteContent,_selectedItems.Count) }
                        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, DisableBackdropClick = true };
        var dialog = DialogService.Show<DeleteConfirmation>
        (string.Format(ConstantString.EDITTHEITEM, "ApplicationRole"), parameters, options);
        var state = await dialog.Result;
        if (!state.Canceled)
        {
            var listIds = _selectedItems.Select(x => x.Id).ToList();
            var result = await _ApplicationRoleService.DeleteManyAsync(listIds);
            await _table.ReloadServerData();
            Snackbar.Add($"{ConstantString.DELETESUCCESS}", MudBlazor.Severity.Info);
            _selectedItems = new HashSet<ApplicationRole>
            ();
        }
    }
}
